<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .chessboard {
            display: grid;
            grid-template-columns: repeat(8, minmax(0, 1fr));
            grid-template-rows: repeat(8, minmax(0, 1fr));
            width: 400px;
            height: 400px;
            transform: rotate(0deg);
        }
        .piece.white {
            color: white;
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
        }
        .piece.black {
            color: black;
        }
        .flipped {
            transform: rotate(180deg);
        }
        .square {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .square.light {
            background-color: #eeeed2; /* Light green */
        }
        .square.dark {
            background-color: #769656; /* Dark green */
        }
        .piece {
            font-size: 36px;
            cursor: pointer;
        }
        .piece.draggable {
            cursor: grab;
        }
        .dragging {
            opacity: 0.5;
        }
        .flipped .piece {
            transform: rotate(180deg);
        }
        .hidden {
            display: none;
        }
    </style>
    <title>Chess Game</title>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 flex items-center justify-center">
        <div id="loadingScreen" class="absolute flex flex-col items-center justify-center w-full h-full bg-gray-800 text-white text-lg font-semibold">
            <!-- Chess-related SVG image -->
            <svg class="h-40 w-40 mb-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zm64 64l0 64 64 0 0-64 64 0 0 64 64 0 0-64 64 0 0 64-64 0 0 64 64 0 0 64-64 0 0 64 64 0 0 64-64 0 0-64-64 0 0 64-64 0 0-64-64 0 0 64-64 0 0-64 64 0 0-64-64 0 0-64 64 0 0-64-64 0 0-64 64 0zm64 128l64 0 0-64-64 0 0 64zm0 64l0-64-64 0 0 64 64 0zm64 0l-64 0 0 64 64 0 0-64zm0 0l64 0 0-64-64 0 0 64z"/></svg>
            <div id="statusMessage">Waiting for Opponent....</div>
        </div>
        <div id="chessContainer" class="hidden flex flex-col items-center">
            <div id="turnDisplay" class="text-white text-xl mb-4"></div>
            <div class="chessboard w-96 h-96"></div>
            <div id="whiteStatus" class="text-white mt-2"></div>
            <div id="blackStatus" class="text-white"></div>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chessgame.js"></script>
</body>
</html>
